In [1]:
import seaborn as sns

penguins = sns.load_dataset("penguins")
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [4]:
import pandas as pd

penguins = penguins.dropna()
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male

In [5]:
# Pearson correlation
from scipy.stats import pearsonr

In [7]:
pearsonr(penguins["flipper_length_mm"], penguins["body_mass_g"])

PearsonRResult(statistic=0.8729788985653614, pvalue=3.13283625097126e-105)

In [8]:
# regression
from statsmodels.formula.api import ols

In [9]:
formula = "body_mass_g ~ flipper_length_mm"
lm = ols(formula, penguins).fit()
print(lm.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            body_mass_g   R-squared:                       0.762
Model:                            OLS   Adj. R-squared:                  0.761
Method:                 Least Squares   F-statistic:                     1060.
Date:                Sat, 01 Apr 2023   Prob (F-statistic):          3.13e-105
Time:                        12:10:26   Log-Likelihood:                -2461.1
No. Observations:                 333   AIC:                             4926.
Df Residuals:                     331   BIC:                             4934.
Df Model:                           1
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept         -5872.0927    310.285    -18.925      0.000   -6482.472   -5261.713
flipper_length_mm    50.1533      1.540     32.562      0.000      47.123      53.183
==============================================================================
Omnibus:                        5.922   Durbin-Watson:                   2.102
Prob(Omnibus):                  0.052   Jarque-Bera (JB):                5.876
Skew:                           0.325   Prob(JB):                       0.0530
Kurtosis:                       3.025   Cond. No.                     2.90e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.9e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [10]:
from scipy.stats import ttest_ind

In [11]:
Male_Penguins = penguins.loc[penguins["sex"] == "Male", "body_mass_g"]
Female_Penguins = penguins.loc[penguins["sex"] == "Female", "body_mass_g"]

Male_Penguins.head(), Female_Penguins.head()

(0     3750.0
 5     3650.0
 7     4675.0
 13    3800.0
 14    4400.0
 Name: body_mass_g, dtype: float64,
 1     3800.0
 2     3250.0
 4     3450.0
 6     3625.0
 12    3200.0
 Name: body_mass_g, dtype: float64)

In [12]:
# t test
ttest_ind(Male_Penguins, Female_Penguins)

Ttest_indResult(statistic=8.541720337994516, pvalue=4.897246751596224e-16)

In [14]:
# one way ANOVA
from scipy.stats import f_oneway

Adelie = penguins.loc[penguins["species"] == "Adelie", "body_mass_g"]
Chinstrap = penguins.loc[penguins["species"] == "Chinstrap", "body_mass_g"]
Gentoo = penguins.loc[penguins["species"] == "Gentoo", "body_mass_g"]

In [15]:
f_oneway(Adelie, Chinstrap, Gentoo)

F_onewayResult(statistic=341.8948949481461, pvalue=3.74450512630046e-81)

In [16]:
from statsmodels.stats.anova import anova_lm

formula = "body_mass_g ~ species + sex + species:sex"
lm = ols(formula,data = penguins).fit()

In [17]:
anova_table = anova_lm(lm, typ=2)
print(anova_table)

                   sum_sq     df           F         PR(>F)
species      1.434016e+08    2.0  749.015666  8.144406e-123
sex          3.709026e+07    1.0  387.459976   1.902273e-57
species:sex  1.676557e+06    2.0    8.756997   1.973489e-04
Residual     3.130263e+07  327.0         NaN            NaN

In [21]:
# chi squared
import numpy as np
from scipy.stats import chi2_contingency

cross_tab = pd.crosstab(index = penguins["species"], columns = penguins["sex"])
cross_tab_matrix = np.array(cross_tab)
cross_tab

sex        Female  Male
species
Adelie         73    73
Chinstrap      34    34
Gentoo         58    61

In [22]:
# The p-value is > 0.05, this means the two factors are independent and there is no relationship between the species and sex of a penguin.

chi2_contingency(cross_tab_matrix)[1]

0.9759893689765846