In [1]:
import pandas as pd # version 1.3.5
import numpy as np
def create_df():
    df = pd.DataFrame({'score': np.random.randint(0,101,1000)})
    return df
df = create_df()
df.head()

   score
0     94
1      1
2     52
3      3
4     89

In [2]:
df.loc[df['score'].between(0, 50, 'both'), 'grade'] = 'C'
df.loc[df['score'].between(50, 80, 'right'), 'grade'] = 'B'
df.loc[df['score'].between(80, 100, 'right'), 'grade'] = 'A'

In [3]:
df.head()

   score grade
0     94     A
1      1     C
2     52     B
3      3     C
4     89     A

In [4]:
df.grade.value_counts()

C    506
B    312
A    182
Name: grade, dtype: int64

In [5]:
bins = [0, 50, 80, 100]
labels = ['C', 'B', 'A']
df['grade'] = pd.cut(x = df['score'], bins = bins, labels = labels, include_lowest = True)

In [6]:
df.grade.value_counts()

C    506
B    312
A    182
Name: grade, dtype: int64

In [7]:
df['grade'], cut_bin = pd.qcut(df['score'], q = 3, labels = ['C', 'B', 'A'], retbins = True)
df.head()

   score grade
0     94     A
1      1     C
2     52     B
3      3     C
4     89     A

In [8]:
df['score'].value_counts(bins = [0,50,80,100], sort = True)

(-0.001, 50.0]    506
(50.0, 80.0]      312
(80.0, 100.0]     182
Name: score, dtype: int64