In [1]:
!pip install m2cgen

Collecting m2cgen
  Downloading https://files.pythonhosted.org/packages/d4/5c/b891849528f948cc985bace0799a5c227af886e19232a03cf360d8d9622e/m2cgen-0.9.0-py3-none-any.whl (73kB)
Requirement already satisfied: numpy in c:\users\gsdav\anaconda3\envs\tensorflow\lib\site-packages (from m2cgen) (1.17.3)
Installing collected packages: m2cgen
Successfully installed m2cgen-0.9.0

In [2]:
import pandas as pd
import numpy as np                     
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LogisticRegression
import m2cgen as m2c 
import warnings                        # To ignore any warnings
warnings.filterwarnings("ignore")

In [3]:
data = pd.read_csv('https://raw.githubusercontent.com/Davisy/Convert-Trained-ML-Models-To-Native-Code/74f6b539dd1493b6bf139494079ccb4413e01bf1/data/loans_data.csv')

In [4]:
list(data.columns)

['Loan_ID',
 'Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'ApplicantIncome',
 'CoapplicantIncome',
 'LoanAmount',
 'Loan_Amount_Term',
 'Credit_History',
 'Property_Area',
 'Loan_Status']

In [5]:
#show the first 5 rows of the dataset
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [6]:
# preprocessing the dataset.

def preprocessing(data):

    # replace with numerical values
    data['Dependents'].replace('3+', 3,inplace=True)
    data['Loan_Status'].replace('N', 0,inplace=True)
    data['Loan_Status'].replace('Y', 1,inplace=True)

    # handle missing data 
    data['Gender'].fillna(data['Gender'].mode()[0], inplace=True)
    data['Married'].fillna(data['Married'].mode()[0], inplace=True)
    data['Dependents'].fillna(data['Dependents'].mode()[0], inplace=True)
    data['Self_Employed'].fillna(data['Self_Employed'].mode()[0], inplace=True)
    data['Credit_History'].fillna(data['Credit_History'].mode()[0], inplace=True)
    data['Loan_Amount_Term'].fillna(data['Loan_Amount_Term'].mode()[0], inplace=True)
    data['LoanAmount'].fillna(data['LoanAmount'].median(), inplace=True)

    # drop ID column
    data = data.drop('Loan_ID',axis=1)
    
    #split features and target 
    X = data.drop('Loan_Status',axis=1)
    y = data.Loan_Status.values

    #scale the  features 
    X  = pd.get_dummies(X,columns=["Gender","Married","Education","Self_Employed","Property_Area"])
    X = StandardScaler().fit_transform(X)
    

    return X,y

In [7]:
X,y = preprocessing(data)

In [8]:
# split into train and test set 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)

In [9]:
# create and train the classifier 

classifier = LogisticRegression()

classifier.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [10]:
# convert model to pure python code  
model_to_python = m2c.export_to_python(classifier)

In [11]:
#pure python code 

def score(input):
    
    return (((((((((((((((((0.7929123964945446) + ((input[0]) * (0.07801862594632314))) + ((input[1]) * (-0.014853900985478468))) + ((input[2]) * (-0.15783041201914427))) + ((input[3]) * (-0.05222073553791883))) + ((input[4]) * (-0.0787403404504791))) + ((input[5]) * (1.3714807410150505))) + ((input[6]) * (0.015077765348160292))) + ((input[7]) * (-0.015077765348160353))) + ((input[8]) * (-0.12161041350915254))) + ((input[9]) * (0.12161041350915253))) + ((input[10]) * (0.09387440269562626))) + ((input[11]) * (-0.09387440269562626))) + ((input[12]) * (-0.0047109053878701835))) + ((input[13]) * (0.004710905387870008))) + ((input[14]) * (-0.14569247529698154))) + ((input[15]) * (0.19858601990225683))) + ((input[16]) * (-0.06417592734444703))

In [12]:
test_data = X_test[6]
print(test_data)

[ 1.24474546 -0.34902304  0.06797654 -0.7705073   0.2732313   0.41173269
 -0.47234264  0.47234264 -0.72881553  0.72881553 -1.89264089  1.89264089
  0.39260074 -0.39260074 -0.64147818 -0.7820157   1.42814704]

In [13]:
pred = classifier.predict(test_data.reshape(1,-1))  
print("prediction result: {}".format(pred))

prediction result: [1]

In [14]:
# test prediction in pure python code 
input = [ 1.24474546,  1.9817189 , -0.55448733,  3.02536229,  0.2732313 ,
        0.41173269, -0.47234264,  0.47234264, -0.72881553,  0.72881553,
        0.52836225, -0.52836225, -2.54711697,  2.54711697,  1.55889948,
       -0.7820157 , -0.70020801]

pred = score(input) 
print("prediction result: {}".format(int(pred)))

prediction result: 1

In [15]:
# convert model to pure PHP code  
model_to_php = m2c.export_to_php(classifier)

In [19]:
print(model_to_php)

<?php
function score(array $input) {
    return (((((((((((((((((0.8346106662696756) + (($input[0]) * (0.06075040055935869))) + (($input[1]) * (0.05467749358694019))) + (($input[2]) * (-0.18777807373431765))) + (($input[3]) * (-0.18202624707641105))) + (($input[4]) * (-0.09599797902649951))) + (($input[5]) * (1.3563115571112725))) + (($input[6]) * (-0.0036551030501364066))) + (($input[7]) * (0.0036551030501361763))) + (($input[8]) * (-0.14600912963966495))) + (($input[9]) * (0.14600912963966517))) + (($input[10]) * (0.10907520355952062))) + (($input[11]) * (-0.10907520355952062))) + (($input[12]) * (0.024783363511021218))) + (($input[13]) * (-0.024783363511021412))) + (($input[14]) * (-0.14921317328932557))) + (($input[15]) * (0.22868775606416253))) + (($input[16]) * (-0.09185953643225361));
}

In [ ]:
# test prediction in pure PHP code
$input = [1.24474546, 1.9817189, -0.55448733, 3.02536229, 0.2732313,
    0.41173269, -0.47234264, 0.47234264, -0.72881553, 0.72881553,
    0.52836225, -0.52836225, -2.54711697, 2.54711697, 1.55889948,
    -0.7820157, -0.70020801];

// perform predition with pure php code
$pred = score($input);


echo "Predicton result: ". round($pred);

In [17]:
# convert model to pure Javascript code  
model_to_javascript = m2c.export_to_javascript(classifier)

In [18]:
print(model_to_javascript)

function score(input) {
    return (((((((((((((((((0.8346106662696756) + ((input[0]) * (0.06075040055935869))) + ((input[1]) * (0.05467749358694019))) + ((input[2]) * (-0.18777807373431765))) + ((input[3]) * (-0.18202624707641105))) + ((input[4]) * (-0.09599797902649951))) + ((input[5]) * (1.3563115571112725))) + ((input[6]) * (-0.0036551030501364066))) + ((input[7]) * (0.0036551030501361763))) + ((input[8]) * (-0.14600912963966495))) + ((input[9]) * (0.14600912963966517))) + ((input[10]) * (0.10907520355952062))) + ((input[11]) * (-0.10907520355952062))) + ((input[12]) * (0.024783363511021218))) + ((input[13]) * (-0.024783363511021412))) + ((input[14]) * (-0.14921317328932557))) + ((input[15]) * (0.22868775606416253))) + ((input[16]) * (-0.09185953643225361));
}

In [20]:
// perform predition with pure Javascript code
let input =  [1.24474546, 1.9817189, -0.55448733, 3.02536229, 0.2732313,
    0.41173269, -0.47234264, 0.47234264, -0.72881553, 0.72881553,
    0.52836225, -0.52836225, -2.54711697, 2.54711697, 1.55889948,
    -0.7820157, -0.70020801];

let pred = score(input);

console.log("Prediction results:",Math.round(pred));

SyntaxError: invalid syntax (<ipython-input-20-1a5351bb1147>, line 1)

In [22]:
code = m2c.export_to_javascript(classifier, function_name = 'pred')

In [23]:
print(code)

function pred(input) {
    return (((((((((((((((((0.8346106662696756) + ((input[0]) * (0.06075040055935869))) + ((input[1]) * (0.05467749358694019))) + ((input[2]) * (-0.18777807373431765))) + ((input[3]) * (-0.18202624707641105))) + ((input[4]) * (-0.09599797902649951))) + ((input[5]) * (1.3563115571112725))) + ((input[6]) * (-0.0036551030501364066))) + ((input[7]) * (0.0036551030501361763))) + ((input[8]) * (-0.14600912963966495))) + ((input[9]) * (0.14600912963966517))) + ((input[10]) * (0.10907520355952062))) + ((input[11]) * (-0.10907520355952062))) + ((input[12]) * (0.024783363511021218))) + ((input[13]) * (-0.024783363511021412))) + ((input[14]) * (-0.14921317328932557))) + ((input[15]) * (0.22868775606416253))) + ((input[16]) * (-0.09185953643225361));
}

In [24]:
with open('./model.js','w') as f:
    f.write(code)