In [1]:
!pip install d3blocks

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting d3blocks
  Downloading d3blocks-1.0.6-py3-none-any.whl (564 kB)
     |████████████████████████████████| 564 kB 5.3 MB/s
Collecting d3heatmap
  Downloading d3heatmap-0.2.1-py3-none-any.whl (240 kB)
     |████████████████████████████████| 240 kB 54.0 MB/s
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from d3blocks) (2.11.3)
Collecting d3graph
  Downloading d3graph-2.3.1-py3-none-any.whl (98 kB)
     |████████████████████████████████| 98 kB 7.7 MB/s
Collecting colourmap
  Downloading colourmap-1.1.7-py3-none-any.whl (7.3 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from d3blocks) (4.64.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from d3blocks) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from d3blocks) (1.3.5)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from d3blocks) (2.23.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from colourmap->d3blocks) (3.2.2)
Requirement already satisfied: networkx>2 in /usr/local/lib/python3.7/dist-packages (from d3graph->d3blocks) (2.6.3)
Requirement already satisfied: markupsafe==2.0.1 in /usr/local/lib/python3.7/dist-packages (from d3graph->d3blocks) (2.0.1)
Requirement already satisfied: python-louvain in /usr/local/lib/python3.7/dist-packages (from d3graph->d3blocks) (0.16)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from d3graph->d3blocks) (21.3)
Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Collecting ismember
  Downloading ismember-1.0.1-py3-none-any.whl (7.4 kB)
Collecting clusteval
  Downloading clusteval-2.1.3-py3-none-any.whl (32 kB)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (from clusteval->d3heatmap->d3blocks) (0.11.2)
Collecting pypickle
  Downloading pypickle-1.1.0-py3-none-any.whl (5.1 kB)
Collecting wget
  Downloading wget-3.2.zip (10 kB)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->colourmap->d3blocks) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->colourmap->d3blocks) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->colourmap->d3blocks) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->colourmap->d3blocks) (3.0.9)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib->colourmap->d3blocks) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib->colourmap->d3blocks) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->d3blocks) (2022.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->d3blocks) (2022.6.15)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->d3blocks) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->d3blocks) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->d3blocks) (1.24.3)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.7/dist-packages (from seaborn->clusteval->d3heatmap->d3blocks) (1.7.3)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn->d3graph->d3blocks) (1.0.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn->d3graph->d3blocks) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn->d3graph->d3blocks) (3.1.0)
Building wheels for collected packages: sklearn, wget
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1310 sha256=102349a8a28639f0151a65756ef5bc8b4a14171302ba3637fcb48f50906ef2ab
  Stored in directory: /root/.cache/pip/wheels/46/ef/c3/157e41f5ee1372d1be90b09f74f82b10e391eaacca8f22d33e
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9675 sha256=84a671a4097745495d856a7856653c333a647cb2eb86f3b76c57d323c4f332a0
  Stored in directory: /root/.cache/pip/wheels/a1/b6/7c/0e63e34eb06634181c63adacca38b79ff8f35c37e3c13e3c02
Successfully built sklearn wget
Installing collected packages: wget, sklearn, pypickle, ismember, colourmap, clusteval, d3heatmap, d3graph, d3blocks
Successfully installed clusteval-2.1.3 colourmap-1.1.7 d3blocks-1.0.6 d3graph-2.3.1 d3heatmap-0.2.1 ismember-1.0.1 pypickle-1.1.0 sklearn-0.0 wget-3.2

In [2]:
from d3blocks import D3Blocks

# Initialize
d3 = D3Blocks()

# Import example
df = d3.import_example('energy')

# Show the input data
print(df)

[d3blocks] >INFO> Downloading [energy] dataset from github source..
[d3blocks] >INFO> Extracting files..
[d3blocks] >INFO> Import dataset: [energy]

                     source            target   weight
0      Agricultural 'waste'    Bio-conversion  124.729
1            Bio-conversion            Liquid    0.597
2            Bio-conversion            Losses   26.862
3            Bio-conversion             Solid  280.322
4            Bio-conversion               Gas   81.144
..                      ...               ...      ...
63       Thermal generation  District heating   79.329
64                    Tidal  Electricity grid    9.452
65  UK land based bioenergy    Bio-conversion  182.010
66                     Wave  Electricity grid   19.013
67                     Wind  Electricity grid  289.366

[68 rows x 3 columns]

In [3]:
# Initialize Network chart but do not yet show the chart.
d3.d3graph(df, showfig=False)

# Color node on clustering
d3.D3graph.set_node_properties(color='cluster')

# Make adjustments to the node: Thermal_generation
d3.D3graph.node_properties['Thermal_generation']['size']=20
d3.D3graph.node_properties['Thermal_generation']['edge_color']='#000fff' # Blue node edge
d3.D3graph.node_properties['Thermal_generation']['edge_size']=3 # Node-edge Size

# Make adjustments to the edge: 'Solar', 'Solar_Thermal'
d3.D3graph.edge_properties['Solar', 'Solar_Thermal']['color']='#000fff'
d3.D3graph.edge_properties['Solar', 'Solar_Thermal']['weight_scaled']=10

# Show the network graph
d3.D3graph.show()

[d3blocks] >INFO> Create directory: [/tmp/d3blocks]
[d3blocks] >INFO> Set directed=True to see the markers!
[d3blocks] >INFO> Keep only edges with weight>0
[d3blocks] >INFO> Number of unique nodes: 48
[d3blocks] >INFO> Slider range is set to [0, 840]
[d3blocks] >INFO> Write to path: [/tmp/tmptsqz20_n/d3graph.html]
[d3blocks] >INFO> Number of unique nodes: 48
[d3blocks] >INFO> Slider range is set to [0, 840]
[d3blocks] >INFO> Write to path: [/tmp/tmpz6j0oywb/d3graph.html]

In [5]:
# sankey
from d3blocks import D3Blocks

# Initialize
d3 = D3Blocks()

# Import example
df = d3.import_example('energy')

# Link settings
d3.sankey(df, link={"color": "source-target"})

[d3blocks] >INFO> Extracting files..
[d3blocks] >INFO> Import dataset: [energy]
[d3blocks] >INFO> Create label properties based on [Set1].
[d3blocks] >INFO> Labels are set

[colourmap]> Warning: Colormap [Set1] can not create [48] unique colors! Available unique colors: [9].
File already exists and will be overwritten: [/tmp/d3blocks/sankey.html]

AttributeError: ignored

In [6]:
# chord
from d3blocks import D3Blocks

# Initialize
d3 = D3Blocks()

# Import example
df = d3.import_example('energy')

# Link settings
d3.chord(df, filepath='chord_demo.html')

[d3blocks] >INFO> Extracting files..
[d3blocks] >INFO> Import dataset: [energy]
[d3blocks] >INFO> Create label properties based on [Set1].
[d3blocks] >INFO> Labels are set

[colourmap]> Warning: Colormap [Set1] can not create [48] unique colors! Available unique colors: [9].

In [7]:
# heatmap
from d3blocks import D3Blocks

# Initialize
d3 = D3Blocks()

# Import example
df = d3.import_example('energy')

# Create the heatmap
d3.heatmap(df, showfig=True, stroke='red', vmax=10, figsize=(700,700))

[d3blocks] >INFO> Extracting files..
[d3blocks] >INFO> Import dataset: [energy]

[d3heatmap] >Scaling image between [min-100]

[clusteval] >Fit using agglomerative with metric: euclidean, and linkage: ward
[clusteval] >Evaluate using silhouette.

100%|██████████| 23/23 [00:00<00:00, 670.03it/s]

[clusteval] >Compute dendrogram threshold.
[clusteval] >Optimal number clusters detected: [2].
[clusteval] >Fin.

In [8]:
# Import library.
from d3blocks import D3Blocks

# Initialize and set the datetime format
d3 = D3Blocks(dt_format='%Y-%m-%d %H:%M:%S')

# Import climate dataset
df = d3.import_example('climate')

# Print
df.head()

[d3blocks] >INFO> Downloading [climate] dataset from github source..
[d3blocks] >INFO> Extracting files..
[d3blocks] >INFO> Import dataset: [climate]

         date   meantemp   humidity  wind_speed  meanpressure
0  2017-01-01  15.913043  85.869565    2.743478     59.000000
1  2017-01-02  18.500000  77.222222    2.894444   1018.277778
2  2017-01-03  17.111111  81.888889    4.016667   1018.333333
3  2017-01-04  18.700000  70.050000    4.545000   1015.700000
4  2017-01-05  18.388889  74.944444    3.300000   1014.333333

In [9]:
# Create the timeseries chart.
d3.timeseries(df, datetime='date', fontsize=10)

[d3blocks] >INFO> Create label properties based on [Set1].
[d3blocks] >INFO> Labels are set

In [10]:
# Import library
from d3blocks import D3Blocks

# Set color scheme
d3 = D3Blocks(cmap='Set1')

# Generate random data with various states
df = d3.import_example('random_time', n=10000, c=500, date_start="1-1-2000 00:10:05", date_stop="1-1-2001 23:59:59")
# Make the moving bubbles chart.
d3.movingbubbles(df, datetime='datetime', state='state', sample_id='sample_id', standardize=None, speed={"slow": 1000, "medium": 200, "fast": 10}, filepath='movingbubbles.html')

[d3blocks] >INFO> Create label properties based on [Set1].

[colourmap]> Warning: Colormap [Set1] can not create [10] unique colors! Available unique colors: [8].

,datetime,sample_id,state,delta,datetime_norm,time_in_state
0,2000-01-01 03:15:53,23,Sleeping,0 days 01:28:31,1980-01-01 00:00:00,5311
1,2000-01-01 04:44:24,38,Sick,0 days 00:15:19,1980-01-01 01:28:31,919
2,2000-01-01 04:59:43,172,Sport,0 days 00:32:53,1980-01-01 01:43:50,1973
3,2000-01-01 05:32:36,260,Sleeping,0 days 02:26:05,1980-01-01 02:16:43,8765
4,2000-01-01 07:58:41,489,Bored,0 days 01:57:36,1980-01-01 04:42:48,7056
...,...,...,...,...,...,...
9994,2001-01-01 23:48:24,143,Sick,0 days 00:01:11,1981-01-01 20:32:31,71
9995,2001-01-01 23:49:35,161,Travel,0 days 00:08:10,1981-01-01 20:33:42,490
9996,2001-01-01 23:57:45,161,Eating,0 days 00:01:36,1981-01-01 20:41:52,96
9997,2001-01-01 23:59:21,238,Sleeping,0 days 00:00:29,1981-01-01 20:43:28,29
9998,2001-01-01 23:59:50,230,Home,0 days 00:00:00,1981-01-01 20:43:57,0

In [12]:
# Import library
from d3blocks import D3Blocks

# Initialize
d3 = D3Blocks()

# import example
df = d3.import_example('cancer')
# Setup the tooltip
tooltip=df['labels'].values + ' <br /> Survival: ' + df['survival_months'].astype(str).str[0:4].values
# Set the size
s = df['survival_months'].fillna(1).values / 10

# Scatter
d3.scatter(df['x'].values,        # tSNE x-coordinates
           df['y'].values,        # tSNE y-coordinates
           x1=df['PC1'].values,   # PC1 x-coordinates
           y1=df['PC2'].values,   # PC2 y-coordinates
           scale=True,            # Scale
           label_radio=['tSNE', 'PCA'],
           s=s,                   # Size
           c=df['labels'].values, # Hex-colors or classlabels
           stroke='#000000',      # Edge color
           opacity=0.4,           # Opacity
           tooltip=tooltip,       # Tooltip
           cmap='tab20',          # Colormap
           filepath='scatter_demo.html')

[d3blocks] >INFO> Extracting files..
[d3blocks] >INFO> Import dataset: [cancer]
[d3blocks] >INFO> Scaling xy-coordinates.
[d3blocks] >INFO> [12] sizes are <0 and set to 0.
[d3blocks] >INFO> Labels are set

In [ ]:
# https://d3blocks.github.io/d3blocks/pages/html/Motivation.html