In [8]:
import pandas as pd
data = {'Stock': ['AAPL', 'IBM', 'MSFT', 'WMT'],
       'Price': [144.8, 141.61, 304.21, 139.5],
       'PE': [25, 21, 39, 16],  
       'TradingExchange': ['NASDAQ', 'NYSE', 'NASDAQ', 'NYSE']}
df = pd.DataFrame(data)
print(df)

  Stock   Price  PE TradingExchange
0  AAPL  144.80  25          NASDAQ
1   IBM  141.61  21            NYSE
2  MSFT  304.21  39          NASDAQ
3   WMT  139.50  16            NYSE

In [9]:
df["Price_Category"] = "Over 150"
df.loc[df["Price"] < 150, "Price_Category"] = "Under 150"
print(df)

  Stock   Price  PE TradingExchange Price_Category
0  AAPL  144.80  25          NASDAQ      Under 150
1   IBM  141.61  21            NYSE      Under 150
2  MSFT  304.21  39          NASDAQ       Over 150
3   WMT  139.50  16            NYSE      Under 150

In [10]:
import numpy as np
df["Price_Category"] = "Over 150"
df['Price_Category'] = np.where(df["Price"] < 150, "Under 150", df['Price_Category'])
print(df)

  Stock   Price  PE TradingExchange Price_Category
0  AAPL  144.80  25          NASDAQ      Under 150
1   IBM  141.61  21            NYSE      Under 150
2  MSFT  304.21  39          NASDAQ       Over 150
3   WMT  139.50  16            NYSE      Under 150

In [11]:
PE_Conditions = [
    (df['PE'] < 20),
    (df['PE'] >= 20) & (df['PE'] < 30),
    (df['PE'] >= 30)
]
PE_Categories = ['Less than 20', '20-30', '30+']
df['PE_Category'] = np.select(PE_Conditions, PE_Categories)
print(df)

  Stock   Price  PE TradingExchange Price_Category   PE_Category
0  AAPL  144.80  25          NASDAQ      Under 150         20-30
1   IBM  141.61  21            NYSE      Under 150         20-30
2  MSFT  304.21  39          NASDAQ       Over 150           30+
3   WMT  139.50  16            NYSE      Under 150  Less than 20