In [ ]:
import pandas as pd
import numpy as np

In [4]:

company_sales = {
    'SalesMonth': ['Jan', 'Feb', 'Mar', 'April'],
    'Company1': [150.0, 200.0, 300.0, 400.0],
    'Company2': [180.0, 250.0, np.nan, 500.0],
    'Company3': [400.0, 500.0, 600.0, 675.0]
}

In [11]:
print(company_sales)

{'SalesMonth': ['Jan', 'Feb', 'Mar', 'April'], 'Company1': [150.0, 200.0, 300.0, 400.0], 'Company2': [180.0, 250.0, nan, 500.0], 'Company3': [400.0, 500.0, 600.0, 675.0]}

In [12]:
import janitor  # upon import, functions are registered as part of pandas.

# This cleans the column names as well as removes any duplicate rows
df = pd.DataFrame.from_dict(company_sales).clean_names().remove_empty()

In [13]:
df.head()

  salesmonth  company1  company2  company3
0        Jan     150.0     180.0     400.0
1        Feb     200.0     250.0     500.0
2        Mar     300.0       NaN     600.0
3      April     400.0     500.0     675.0