In [11]:
import pandas as pd
import numpy as np

In [13]:
import seaborn as sns

df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [14]:
df['c'] = np.select(
[
    (df['sepal_length'].isnull() | (df['petal_length'] > 0))
], 
[
    1
], 
default=0 )
df.head()

   sepal_length  sepal_width  petal_length  petal_width species  c
0           5.1          3.5           1.4          0.2  setosa  1
1           4.9          3.0           1.4          0.2  setosa  1
2           4.7          3.2           1.3          0.2  setosa  1
3           4.6          3.1           1.5          0.2  setosa  1
4           5.0          3.6           1.4          0.2  setosa  1

In [22]:
# with text, same column
df['c'] = np.select(
[
    (df['species'] == 'setosa')
], 
[
    'target'
], 
    'name' )
df.head()
df.tail()

     sepal_length  sepal_width  petal_length  petal_width    species     c
145           6.7          3.0           5.2          2.3  virginica  name
146           6.3          2.5           5.0          1.9  virginica  name
147           6.5          3.0           5.2          2.0  virginica  name
148           6.2          3.4           5.4          2.3  virginica  name
149           5.9          3.0           5.1          1.8  virginica  name

In [ ]:
# If the row value in column 'is_blue' is 1 
# Change the row value to 'Yes' 
# otherwise change it to 'No'
df['is_blue'] = df['is_blue'].apply(lambda x: 'Yes' if (x == 1) else 'No')

In [24]:
# or you can use np.where
df['high septal width'] = np.where(df['sepal_width'] > 3, 'Yes', 'No')
df.head()

   sepal_length  sepal_width  petal_length  ...  species       c high septal width
0           5.1          3.5           1.4  ...   setosa  target               Yes
1           4.9          3.0           1.4  ...   setosa  target                No
2           4.7          3.2           1.3  ...   setosa  target               Yes
3           4.6          3.1           1.5  ...   setosa  target               Yes
4           5.0          3.6           1.4  ...   setosa  target               Yes

[5 rows x 7 columns]