In [1]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.random.randint(0, 100, size=(15, 4)), columns=list("ABCD"))

In [2]:
df.corr().style.background_gradient(cmap="Blues")

Spearman correlation is often used to evaluate relationships involving ordinal variables.

In [3]:
df.corr('spearman').style.background_gradient(cmap="Blues")

Kendall’s rank correlation improves upon this by reflecting the strength of the dependence between the variables being compared.

In [4]:
df.corr('kendall').style.background_gradient(cmap="Blues")

In [5]:
from numpy import array, random, arange

def xicor(X, Y, ties=True):
    random.seed(42)
    n = len(X)
    order = array([i[0] for i in sorted(enumerate(X), key=lambda x: x[1])])
    if ties:
        l = array([sum(y >= Y[order]) for y in Y[order]])
        r = l.copy()
        for j in range(n):
            if sum([r[j] == r[i] for i in range(n)]) > 1:
                tie_index = array([r[j] == r[i] for i in range(n)])
                r[tie_index] = random.choice(r[tie_index] - arange(0, sum([r[j] == r[i] for i in range(n)])), sum(tie_index), replace=False)
        return 1 - n*sum( abs(r[1:] - r[:n-1]) ) / (2*sum(l*(n - l)))
    else:
        r = array([sum(y >= Y[order]) for y in Y[order]])
        return 1 - 3 * sum( abs(r[1:] - r[:n-1]) ) / (n**2 - 1)

In [6]:
# new correlation - https://towardsdatascience.com/a-new-coefficient-of-correlation-64ae4f260310
df.corr(method=xicor).style.background_gradient(cmap="Blues")